# JVM specific
*.class
*.log

# IntelliJ specific
.idea/
*.iml

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# macOs specific
.DS_Store
